<ul> <h1>Great video clips from movies and TV</h1>
  <%= link_to "Gladiator", gladiator_video_path %> <br />
  <%= link_to "Mean Girls", mean_girls_video_path %> <br />
  <%= link_to "Adventure Time", adventure_time_video_path %> <br />
  <%= link_to "Archer", archer_video_path %>
	
</ul>