<h1>Long Beach, CA</h1>
<br />
<img src="http://media.treehugger.com/assets/images/2011/10/long20beach-jj-001.jpg" alt="long beach" title="long beach" />

<p>My hometown! Very different from Austin, but I kinda just wanted a change of scenery. :)</p>